@blackdackel:registry=https://blackdackel-942148373032.d.codeartifact.us-east-1.amazonaws.com/npm/blackdackel-store/
//blackdackel-942148373032.d.codeartifact.us-east-1.amazonaws.com/npm/blackdackel-store/:always-auth = true
registry=https://registry.npmjs.org/